.create-form-wrapper{
    min-height:100%;
    border-left:15vh solid #c4ebd0;
    border-right:15vh solid #c4ebd0;
    display: flex;
    flex-direction: column;
}

.header-wrapper Button{
    float: right;
    margin-right: 2%;
    margin-top:2%;
    color: white;
    background-color: #4365E2;
}


.submit-wrapper{
    display: flex;
    flex-direction: row;
}

.submit-wrapper Button{
    margin-top: 2%;
    margin-right: 2%;
    color: white;
    background-color: #4365E2;
}

.cat Button{
    margin-top: 2%;
    margin-right: 2%;
    color: white;
    background-color: #4365E2;
}

.cat{
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 40%;
    border-bottom: 10px solid #D1E2F2;
}

.cat input{
    width: 50vh
}

.non-dynamic-elements-wrapper input{
    margin-bottom: 2%;
    
}