.create-assignment-wrapper{
    min-height:100%;
    border-left:15vh solid #c4ebd0;
    border-right:15vh solid #c4ebd0;
    display: flex;
    flex-direction: column;
}

.form{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    justify-content: space-evenly;
    min-height:100%;
}

.list-group{
    padding-top:20px;
    display: inline-flex;
    flex-wrap: wrap;
}

.list-group-item{
    margin: 10px 10px;
    border: 1px solid #3B3B3B;
    width: 250px;
    height: 50px; 
    margin: 1%;
    margin-left: 0;
    color: white;
    background-color: #4365E2;
}

.lbl-assignment-name{
    padding-right:5%;
    font-size: 1rem;

}

.btn-wrapper Button{
    margin-top: 5%;
    margin-bottom: 2%;
    color: white;
    background-color: #4365E2;
}
.submit-wrapper Button{
    margin-top: 5%;
    margin-bottom: 2%;
    color: white;
    background-color: #4365E2;
}