.create-form-wrapper{
    min-height:100%;
    border-left:15vh solid #c4ebd0;
    border-right:15vh solid #c4ebd0;
    display: flex;
    flex-direction: column;
}

.header-wrapper Button{
    float: right;
    margin-right: 2%;
    margin-top:2%;
    color: white;
    background-color: #4365E2;
}


.submit-wrapper{
    display: flex;
    flex-direction: row;
}

.submit-wrapper Button{
    margin-top: 2%;
    margin-right: 2%;
    color: white;
    background-color: #4365E2;
}

.inside-cat-wrapper Button{
    margin-top: 2%;
    margin-right: 2%;
    color: white;
    background-color: #4365E2;
}

.inside-cat-wrapper Button:hover{
    outline: solid 2px #3B3B3B;
    color: #3B3B3B;
    background-color: #D1E2F2;
    
}

.inside-cat-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-bottom: 10px solid #D1E2F2;
    margin-right: 1%
}

.cat-wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cat input{
    width: 50vh
}

.non-dynamic-elements-wrapper input{
    margin-bottom: 2%;
    
}