@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
/*---- Header ----*/

.site-header {
  overflow: visible;
  padding: 20px 5%;
  transition: background-color 0.2s linear;
}


.uodlogo {
  float: left;
  display: inline-block;
  width: 240px;
  padding: 10px 10px 10px 10px;

}
/*---- Body ----*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  
  /*new*/
  height: 100%;
}

html {
  height: 100%;
}

.page-container {
  overflow: auto;
  min-height: 100%;
  position: relative; 
  /*new*/
  height: 100vh;
  display: flex; 
  flex-direction: column;

}

#root {
  height:100%;
}

.main{
flex: 1;
}


/*---- Footer ----*/
.site-footer{
padding: 20px 5%;
text-transform: capitalize;
display: flex;
left: 0;
bottom: 0;
right: 0;
}

